<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
      <br>
      <br>
      <div class="wrapper" style="min-height: 416px;">
      <div>
          <div class="content">
                {{ content }}

          </div>
      </div>
      
    </div>
      <div class ="center">
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- p_dev -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-8015856612401610"
           data-ad-slot="7259037606"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      </div>
    {% include footer.html %}

  </body>

</html>
