---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8015856612401610",
          enable_page_level_ads: true
     });
</script>
<!-- footer -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-8015856612401610"
     data-ad-slot="8025988080"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gw-g+2z-2m-45"
     data-ad-client="ca-pub-8015856612401610"
     data-ad-slot="3065660661"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
