---
layout: default
---
<div class="post">

  <header class="callout callout-info animated fadeInRightBig">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- footer -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-8015856612401610"
     data-ad-slot="8025988080"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
