---
layout: default
---
<div class="col-md-2 pull-right">
        
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gw-g+2z-2m-45"
     data-ad-client="ca-pub-8015856612401610"
     data-ad-slot="3065660661"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="col-md-2 pull-left">
</div>

<div class="post col-md-8">

  <header class="post-header container-fluid">
    <h1 class="content-max-width">{{ page.title }}</h1>
    <span>{{ page.date | date: "%b %-d, %Y" }} </span> {% if page.author %}• {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} {% if page.comments %} • <a href="{{url}}{{ page.url }}#disqus_thread"> <i class="fa fa-comments-o margin-r-5"></i> 0 Comments</a>{% endif %}
    <span class="time label label-danger pull-right"> {% for category in page.categories %}
          {{category | capitalize | replace:'-', ' '}},
           {% endfor %}</span>
  <hr>
  </header>

  <article class="post-content content container-fluid">
    {{ content }}

  </article>
		  <div class="row">
			  <div class=" pull-left">
				{% if page.previous %}
				  <a href="{{ page.previous.url }}" class="btn btn-primary btn-flat" title="{{ page.previous.title }}"> <span class="fa fa-angle-double-left"></span></a>
				{% endif %}
			  </div>
			<div class="pull-right">
			{% if page.next %}
			  <a href="{{ page.next.url }}" class="btn btn-primary btn-flat" title="{{ page.next.title }}"><span class="fa fa-angle-double-right"></span> </a>
			{% endif %}
			</div>
		  </div>
  	{% include disqus.html %}

</div>
